{% extends 'layouts/default.twig' %}

{% block title %}Users{% endblock %}

{% block content %}
<h1>Users</h1>

<ul class="list-unstyled mt-4 pb-2 border-bottom">
    <li><a href="{{ url_for('users.add') }}" class="btn btn-primary">Add User</a></li>
</ul>

<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Name</th>
            <th scope="col">Last Login</th>
            <th scope="col" class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.last_login|default('Never') }}</td>
            <td class="text-right">
                <a class="btn btn-sm btn-primary" href="{{ url_for('users.view', { id: user.id }) }}">View</a>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('users.edit', { id: user.id }) }}">Edit</a>
                <form method="POST" action="{{ url_for('users.delete', { id: user.id }) }}" class="d-inline" onclick="return confirm('Are you sure?');">
                    <input type="hidden" name="_METHOD" value="DELETE">
                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
